<script type="text/ng-template" id="popup.html">
    <div class="modal-body container-fluid">
    	<div class="row clearfix">	
    		<div class="modal-header">
		        <span class="glyphicon glyphicon-remove-circle clickable pull-right" ng-click="cancel()"><span>
       		</div>
    		<div class="col-md-8 column">
    			<img src="{{photo.source}}" class="img-responsive"/>
			</div>
			<div class="col-md-4 column">
				
				<h4><small ng-repeat="like in likes">

        		{{like.name}}<span ng-show="!$last">,</span>

		        </small><small class="likeColor" ng-if="likes!=0" >Like this</small></h4>
		        <ul class="list-group" ng-repeat="comment in comments">
					<li class="list-group-item"><strong>{{comment.from.name}}:</strong> {{comment.message}} <br /><small>{{comment.created_time | limitTo: 10}}</small></li>
				</ul>
				<span ng-if="comments==0">There is no comments</span>
			</div>
    	</div>
    </div>
</script>




<div class="header">
	<h3 class="text-muted">Eversnap project</h3>
	<span ng-show="!loggedIn"><fb:login-button scope="public_profile,email, user_photos" onlogin="login();" ></fb:login-button></span>
	<button ng-click="logout();" class="btn btn-default" ng-if="loggedIn">Logout</button>
  	
</div>
<div ng-show="!loggedIn">
	<div class="alert alert-warning"><span class="glyphicon glyphicon-arrow-up"> You must be logged to access the page's contents</span></div>
</div>
<div ng-if="loggedIn">
	<div class="alert alert-danger" ng-if="isError.active">{{isError.message}}</div>
	<tabset justified="true">
	    <tab heading="Albums" select="returnToAlbum();">
	    	<div class="panel panel-default">
				<table class="table">
			   		<tbody ng-repeat="album in albums">
			   			<tr><td><img src="https://graph.facebook.com/{{album.id}}/picture?type=album&access_token={{user.authResponse.accessToken}}" class="img-responsive clickable" ng-click="loadPhoto(album.id, album.name)"/><button class="btn btn-link" ng-click="loadPhoto(album.id, album.name)">{{album.name}}</button><small>{{album.count}} foto </small></td><td></td></tr>
			   		</tbody>
				</table>
			</div>
			

		</tab>
	    <tab heading="Photos" active="isActive" disabled="true">
	    	<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{photos.albumName}}</h3>
				</div>
				<div class="panel-body">
					<span class="img-thumbnail" ng-repeat="(index, photo) in photos">
			    		<img  src="{{photo.picture}}" ng-click="open('lg', photo.id)" class="clickable"/><br ng-if="($index+1)%5==0" />
					</span> 
				</div>
			</div>
	    	
		</tab>
  	</tabset>
</div>

<div class="footer">
  	<p>With <span class="glyphicon glyphicon-heart"></span> from Nicolò</p>
</div>
